[Unit]
Description=Git HTTP Daemon
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/etc/gitti
ExecStart=/usr/bin/gitti serve

Restart=always

[Install]
WantedBy=multi-user.target
